
@import "base";

body {
  padding-top: 4em;
  padding-bottom: 4em;
}

.loaders {
  .loader {
    // background: url('../img/crosshairs.png') no-repeat 50% 50%;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &.loader-hidden {
      opacity: 0;
    }

    &.loader-active {
      opacity: 1;
    }

  }
}


h1 {
  font-size: 2.8em;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0.6rem 0; 
}

h1 > span {
  font-weight: 300; 
}

h2 {
  font-size: 1.15em;
  font-weight: 300;
  margin: 0.3rem 0; 
}

.loaders {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  .loader-container, .loader {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    align-items: center;
    justify-content: center; 
  }

  .loader-container {
    height: 200px;
  }

  @media(min-width: $screen-xs) {
    .loader-container {
      max-width: 25%;
      width: 25%;
      flex-basis: 25%;
    }
  }

  &.single .loader-container {
    max-width: 100%;
    p { display: none }
  }
}

pre {
  border: none;
  background-color: $text-color;
  color: $bg-color;
  position: relative;

  &[data-type] {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      background-color: darken($bg-color, 20%);
      color: $text-color;
      content: attr(data-type);
      padding: 2px 8px;
      border-bottom-left-radius: 3px;
    }
  }
}

.btn {
  border-width: 2px;
  transition: background-color ease 0.2s;

  &.btn-github {
    font-size: 16px;
    &:hover {
      background-color: $text-color;
      color: #fff;
    }
  }
}
